// Videos List Component Styles
@import '../../Assets/Sass/variable.scss';

.videos-list {
	width: 367px;
	height: calc(100vh - 86px);
}

.videos-list__info {
	position: relative;
	display: flex;
	align-items: flex-end;
	column-gap: 138px;
	margin-bottom: 25px;
}

.videos-list__heading {
	margin: 0;
	@include fontAll(700, 2.25rem, 36px);
	color: #19202c;
}

.videos-list__autoplay {
	text-transform: uppercase;
	@include fontAll(700, 1rem, 20px);
	color: #19202c;
}

.videos-list__input-control {
	@include transition;

	&::before {
		position: absolute;
		content: '';
		top: 15px;
		right: 0;
		width: 44px;
		height: 24px;
		background-color: #ebebeb;
		border-radius: 14px;
	}

	&::after {
		content: '';
		position: absolute;
		right: 20px;
		top: 15px;
		width: 24px;
		height: 24px;
		background-color: #e4140d;
		border-radius: 50%;
	}
}

.videos-list__input-checkbox {
	display: none;

	&:checked + .videos-list__input-control:after {
		background-color: #2196f3;
		right: 0;
	}
}

.videos__playlist {
	@include resetList;
}

.videos__playlist-item {
	border-radius: 14px;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.videos__playlist-link {
	text-decoration: none;
}

.videos__playlist-image {
	margin-bottom: 13px;
	border-radius: 14px;
}

.videos__playlist-title {
	margin-top: 0;
	margin-bottom: 9px;
	color: #19202c;
	@include fontAll(700, 1.625rem, 33px);

	&::first-letter {
		text-transform: uppercase;
	}
}

.videos__playlist-subscribed {
	display: flex;
	justify-content: space-between;
}

.videos__playlist-subscribed--count,
.videos__playlist-subscribed--name {
	@include fontAll(400, 1.125rem, 23px);
	color: #c2c2c2;
}

@media only screen and (max-width: 992px) {
	.videos-list {
		width: 100%;
	}

	.videos-list__autoplay {
		margin-left: auto;
		margin-right: -80px;
	}

	.videos__playlist {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.videos__playlist-item {
		width: 48%;
	}

	.videos__playlist-image {
		width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.videos__playlist-item {
		width: 100%;
	}

	.videos__playlist-image {
		height: 250px;
	}
}

@media only screen and (max-width: 400px) {
	.videos-list__info {
		align-items: center;
		column-gap: 0;
	}

	.videos-list__heading {
		@include fontAll(700, 1.25rem, 36px);
	}

	.videos-list__autoplay {
		margin-left: auto;
		margin-right: 50px;
		@include fontAll(700, 0.625rem, 13px);
	}

	.videos-list__input-control::before,
	.videos-list__input-control::after {
		top: 5px;
		width: 16px;
		height: 16px;
	}

	.videos-list__input-control {
		&::after {
			top: 8px;
			right: 15px;
			width: 16px;
			height: 16px;
		}

		&::before {
			top: 8px;
			width: 32px;
			height: 16px;
		}
	}

	.videos__playlist-image {
		height: 180px;
	}

	.videos__playlist-title {
		@include fontAll(700, 1rem, 20px);
	}

	.videos__playlist-subscribed--count,
	.videos__playlist-subscribed--name {
		@include fontAll(400, 0.8125rem, 16px);
	}
}
