// Header Component Styles
@import '../../Assets/Sass/variable.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2001;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 70px 20px 30px;
}

.header .hamburger {
	margin-bottom: 6px;
	margin-right: 25px;
}

.header.dark .hamburger path {
	fill: #fff;
}

.header .logo__icon {
	margin-right: 60px;
}

.header.dark .logo__icon path:last-child {
	fill: #fff;
}

.header .search {
	position: relative;
	transform: translateX(40%);
}

.header.dark .search__input {
	background-color: #17171e;
	color: #fff;
}

.header .search__icon {
	display: none;
}

.header.dark .search__icon path {
	fill: #fff;
}

.header__select {
	margin-left: auto;
	margin-right: 30px;
	padding: 5px 10px;
	border: 1px solid #ddd;

	&:focus {
		outline: none;
	}
}

.header.dark .header__select {
	background-color: #17171e;
	color: #fff;
}

.header .theme__icon {
	margin-right: 30px;
}

.header__langs-icon {
	font-size: 22px;
	cursor: pointer;

	&:nth-child(2) {
		display: none;
	}
}

.header__icons {
	display: flex;
	align-items: center;
	column-gap: 30px;
	@include resetList;
	margin-right: 50px;
}

.header__icon {
	display: flex;
}

@media only screen and (max-width: 1960px) {
	.header .search {
		position: relative;
		left: 0%;
		transform: translateX(0);
		margin-right: 40px;
	}
}

@media only screen and (max-width: 1140px) {
	.header__icons {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.header .search__icon {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}

	.header__select {
		margin-left: 20px;
	}
}

@media only screen and (max-width: 640px) {
	.header {
		padding: 20px;
	}

	.header .hamburger {
		display: none;
	}

	.header .logo__icon {
		margin-right: 10px;
	}

	.header .search__icon {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}

	.header__select {
		display: none;
	}

	.header .theme__icon {
		margin-left: 15px;
		margin-right: 15px;
	}
}
