// Video Player Component Styles
@import '../../Assets/Sass/variable.scss';

.video-player {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}

.video-player__image {
	width: 100%;
	height: 700px;
	margin-bottom: 20px;
	border-radius: 14px;
}

.video-player__title {
	margin-top: 0;
	margin-bottom: 4px;
	@include fontAll(700, 36px, 45px);

	&::first-letter {
		text-transform: uppercase;
	}
}

.video-player__subscribed {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
}

.video-player__views-count {
	@include fontAll(400, 20px, 25px);
	color: #c2c2c2;
}

.video-player__icons {
	display: flex;
	@include resetList;
	column-gap: 10px;
	margin-left: auto;
	margin-right: 20px;
}

.video-player__icon {
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 10px 20px;
	background-color: #ebebeb;
	border-radius: 20px;
}

@media only screen and (max-width: 1600px) {
	.video-player__image {
		max-height: 500px;
	}
}

@media only screen and (max-width: 1200px) {
	.video-player__image {
		max-height: 400px;
	}

	.video-player__title {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 992px) {
	.video-player__image {
		max-height: 300px;
	}
}

@media only screen and (max-width: 576px) {
	.video-player__image {
		max-height: 250px;
	}

	.video-player__title {
		@include fontAll(700, 20px, 25px);
	}

	.video-player__subscribed {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 10px;
	}

	.video-player__icons {
		margin-left: 0;
	}

	.more__icon {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	.video-player__image {
		max-height: 200px;
	}

	.video-player__icons {
		width: 100%;
		padding-bottom: 15px;
		overflow: auto;
	}
}
